include *.pip
include *.md

recursive-include merkapi *
recursive-include tests_merkapi

global-exclude local.py
global-exclude .coverage
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
